server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: ${LOKI_URL}/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: name
            values:
              - vhs-api
              - vhs-crawler
              - vhs-connections
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container_name'
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: 'stream'
    static_configs:
      - labels:
          service_type: vhs
    pipeline_stages:
      - json:
          expressions:
            level: level
            msg: msg
            name: name
            time: time
      - labels:
          level:
          name:
      - timestamp:
          source: time
          format: RFC3339Nano
