name: Devnet Build DH
on:
  workflow_dispatch:
env:
  REGISTRY: docker.io
  IMAGE_NAME: agtipft/validator-history-service
jobs:
  build-devnet:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout develop
      uses: actions/checkout@v4
      with:
        ref: develop
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        build-args: |
          ENVIRONMENT=devnet
        push: true
        tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:devnet-latest
        platforms: linux/amd64
